<div class="nav">
  <div class="logo">
      Bostyle
  </div>
  <div class="list">
     <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/about">About</a></li>
     </ul>
  </div>
  <div class="clr"></div>
</div>

<div class="sideNav">
  <div class="items">
     <ul>
      <li>
          <a routerLink="/customers">Customers</a>
      </li>
      <li>
          <a routerLink="/products">Products</a>
      </li>
      <li>
          <a routerLink="/categories">Categories</a>
      </li>
     </ul>
  </div>
</div>

<router-outlet></router-outlet>
